<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chris Donker Portfolio</title>
    <link rel="stylesheet" href="style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/r128/examples/js/loaders/OBJLoader.js"></script>
    <script type="module" src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/liquidjs/dist/liquid.browser.min.js"></script>
    <script type="module" src="fetch.js"></script>

    <button onclick="toggleTheme()" class="theme-toggle">Toggle Theme</button>
    <main id="contentOverlay">
      <template>
        {% for person in me %} {% assign customData = person.custom | parse_json
        %}
        <header id="Heading">
          <h2>Hallo ik ben {{person.name}}</h2>
          <h4>" {{person.nickname}} "</h4>
        </header>

        <section id="Basic info">
          <h2>Standaard Informatie</h2>
          <p>Ik woon in {{ person.customData.Woonplaats }}</p>
          <p>Mijn huidige opleiding is {{ person.customData.Opleiding }}</p>
          <p>Ik werk met alle liefde voor de {{ person.customData.Werk }}</p>
        </section>

        <section id="Hobbies">
          <h2>Dit zijn mijn hobbies</h2>
          <ul>
            {% for hobby in person.customData.Hobbies %}
            <li>{{ hobby }}</li>
            {% endfor %}
          </ul>
        </section>

        <section id="leerdoelen">
          <h2>Mijn Leerdoelen</h2>
          <ul>
            {% for goal in person.customData.Leerdoelen %}
            <li>{{ goal[0] }}: {{ goal[1] }}</li>
            {% endfor %}
          </ul>
        </section>

        <section id="classData">
          <h2>Class Data</h2>
          <p>Total number of people: {{stats.totalCount}}</p>
          <ul>
            {% for nickname in stats.allNicknames %}
            <li>{{nickname}}</li>
            {% endfor %}
          </ul>
          <p>Random bio: {{stats.randomBio}}</p>
        </section>

        <section id="next-birthday">
          <h2>Next Birthday</h2>
          <p>
            {{nextBirthday.name}} has their birthday in {{nextBirthday.days}}
            days!
          </p>
          <p>Birthday date: {{nextBirthday.date | date: "%B %d"}}</p>
        </section>

        <footer>©Copyright {{person.name}} Donker, <span></span></footer>

        {%endfor %}
      </template>

      <!-- {% if person.birthdate %} {% assign birthdate = person.birthdate %}
        <div class="birthday-container" data-birthdate="{{birthdate}}">
          <p>Birthday: <span class="birthday-date">{{birthdate}}</span></p>
          <p>Days until birthday: <span class="days-until"></span></p>
            <p>Days old: <span class="days-old"></span></p>
        </div>  -->
    </main>
  </body>
</html>
